# Entornos virtuales
venv/
*.venv
env/
.env

# Archivos de cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de SQLite (ya no se usará en producción)
*.db
*.db-journal

# Archivos de configuración de IDE
.idea/
.vscode/