<div class="modal fade" id="addColumnModal" tabindex="-1" aria-labelledby="addColumnModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('add_column_lm') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="addColumnModalLabel">Añadir Nueva Columna</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre_columna">Nombre de la Nueva Columna</label>
                        <input type="text" class="form-control" name="nombre_columna" required>
                        <small class="form-text text-muted">Por defecto, las nuevas columnas podrán ser editadas por el rol PROGRAMA_LM.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Crear Columna</button>
                </div>
            </form>
        </div>
    </div>
</div>